
<% @project.rewards.each do |reward| %> 
	
	<h3>Reward</h3>
	<p><%= reward.amount %></p>
	<p><%= reward.description %></p>

	<%= form_for Pledge.new do |f| %>
		<%= f.hidden_field :amount, value: reward.amount %>
		<%= f.hidden_field :reward_id, value: reward.id %>
		<%= f.hidden_field :project_id, value: @project.id %>
		<%= f.submit "Pledge this!" %>
	<% end %>

<% end %>



