<% @projects.each do |project| %>
	<div class="project-block">
		<h1><%= link_to project.title, project_path(project) %></h1>

		<p><%= project.description %></p>
		<p><%= project.goal %></p>
		<p><%= project.start_date %></p>
		<p><%= project.end_date %></p><br/> 
	</div>
<% end %>
