<h1>Create a New Project</h1>

<%= form_for (@project) do |f| %>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</div>

	<p><strong>Add Rewards</strong></p>
	
	<div id="rewards">
		<%= f.fields_for :rewards do |r| %>
			<%= render 'reward_fields', :f => r %>
		<% end %> 
		<%= link_to_add_association 'Add a reward', f, :rewards %><br />  
		<%= f.submit %>
	</div>
	
<% end %> 